.pieChart {
	border-radius: 8px;
}
.pieContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}

.header {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	align-items: center;
	margin-bottom: 10px;
}

.value {
	color: var(--faded-white);
	font-size: 14px;
}

.textContainer {
	display: flex;
	align-items: end;
	gap: 3px;
}
