.pieChart {
	border-radius: 8px;
}
.pieContainer {
	display: flex;
	justify-content: center;
}

.wrapper {
	max-width: 250px;
}

.header {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.microns {
	color: var(--white);
	font-size: 14px;
}
