.itemContainer {
	padding: 10px 15px;
	background-color: var(--deep-navy);
	margin: 12px 0;
	border-radius: 12px;
}

.wrapper {
	display: flex;
	gap: 12px;
}

.headerContainer {
	display: flex;
	justify-content: space-between;
}
