.summaryContainer {
	width: 100%;
	padding: 10px;
}

.itemContainer {
	padding: 10px 15px;
	background-color: var(--deep-navy);
	margin: 12px 0;
	width: fit-content;
	border-radius: 12px;
}

.gaugeContainer {
	display: flex;
	gap: 12px;
}
