.wrapper {
	display: flex;
	gap: 10px;
	align-items: center;
	flex-direction: column;
}

.textContainer {
	display: flex;
	align-items: end;
	gap: 5px;
}

.aqiValue {
	color: var(--faded-white);
	font-size: 22px;
}
