* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto";
}

:root {
	--dark-indigo: #292d53;
	--slate-blue: #444768;
	--slate-blue-light: #545881;
	--deep-navy: #1f204c;
	--deep-navy-light: #11122ebb;
	--sky-blue: #41a0e4;
	--white: #ebebeb;
}

#root {
	min-height: 100vh;
	background: radial-gradient(
		circle at top,
		var(--slate-blue),
		var(--dark-indigo) 60%
	);
}

h1,
h2,
h3,
h4 {
	color: var(--white);
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 14px;
}

hr {
	margin-bottom: 10px;
}

main {
	max-width: 1200px;
	background-color: transparent !important;
}
