* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto";
}

:root {
	--dark-indigo: #292d53;
	--slate-blue: #444768;
	--deep-navy: #1f204c;
	--sky-blue: #41a0e4;
}

#root {
	height: 100vh;
}

hr {
	margin-bottom: 10px;
}

main {
	max-width: 1200px;
}
